/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background-color: #373b442a;
}

#main-div{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* ===== Common Container ===== */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* ===== HEADER ===== */
.header {

background: #373B44;
background: -webkit-linear-gradient(to right, #4286f4, #373B44);
background: linear-gradient(to right, #4286f4, #373B44);

  color: #fff;
  height: 60px;
  border-radius: 10px;
  position: fixed;
  top: 1rem;
  left: 50%;
  width: 87%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: -9px 11px 28px 2px rgba(0,0,0,0.63);
}

.header-container {
  display: flex;
  justify-content: space-between;   /* better alignment */
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

/* Logo */
.logo h1 {
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

/* Hover animation same */
.nav-links a,
.mobile-menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a::after,
.mobile-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: yellow;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.mobile-menu a:hover::after {
  width: 100%;
}

.nav-links a:hover,
.mobile-menu a:hover {
  color: lch(81.04% 85.94 137.4);
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: #fff;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 60vh;
  background: #222;
  transform: translateX(-110%);
  transition: transform 0.4s ease;
  z-index: 9999;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu ul {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu li {
  margin-bottom: 15px;
}

/* ===== Cards Section ===== */
.cards-section {
  padding: 130px 0 60px 0;   /* header spacing fix */
  margin: 0;                /* removed big margin */
  width: 100%;
  /* height: 100px; */
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 10px;     /* border cut fix */
}

/* Card */
.card {
  border: 1px solid #ddd;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
  background: #373B44;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
}

.card-content h2 {
  margin: 15px 0;
  text-align: center;
  color: white;
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.card-buttons button {
  padding: 10px 35px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: #111;
  color: #fff;
}

.card-buttons button:hover{
  color: black;
  background-color: yellow;
  box-shadow: 11px 11px 80px 13px rgba(247,235,235,0.9);
  transition: all 0.5s;
}

/* ===== Tablet ===== */
@media (max-width: 992px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== Mobile ===== */
@media (max-width: 767px) {

  .header {
    width: 95%;
  }

  .nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .logo h1 {
    font-size: 20px;
  }

  .card img {
    height: 200px;
  }
}
